# Whitelist dotfiles
.*
!deps/**/.*
!test/fixtures/**/.*
!tools/node_modules/**/.*
!tools/doc/node_modules/**/.*
!.clang-format
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.github
!.gitignore
!.gitkeep
!.mailmap
!.nycrc
!.travis.yml

core
vgcore.*
v8*.log
perf.data
perf.data.old
.waf*
tags
.lock-wscript
*.pyc
doc/api.xml
tmp/
test/tmp*/
iojs
iojs_g
node
node_g
*.swp
.benchmark_reports
icu_config.gypi
.eslintcache
node_trace.*.log
coverage/

/out

# various stuff that VC++ produces/uses
Debug/
!**/node_modules/debug/
!deps/v8/src/debug/
Release/
!doc/blog/**
*.sln
!nodemsi.sln
*.suo
*.vcproj
*.vcxproj
!custom_actions.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.vs/
.vscode/
/deps/v8/src/debug/obj
/*.exe


# node-jsc related
deps/jscshim/webkit/WebKitBuild/
